@import url('https://fonts.googleapis.com/css2? ');   /* Подключение с сайта необходимого шрифта для сайта */

body {                                                /* Подключаем для всего боди необходимые стили */
  background-color: #f1f1f1;                        /* Цвет фона страницы */
  color: #0f141e;                                   /* Цвет шрифта страницы */

  font-size: 16px;                                    /* Размер шрифта страницы */
  font-weight: normal;                                /* Жирность шрифта страницы обычный */
  font-family: 'Roboto', sans-serif;                  /* Подключаем наш шрифт на страницу */
}

a {
  color: #000000;                                   /* для всех ссылок а черные ссылки */
  text-decoration: none;                              /* убираем подчеркивание текста, которое по умолчанию */
}

a:hover {                                             /* псевдокласс на теги а когда на них наводят */
 text-decoration: underline;                          /* нижние подчеркивание ссылки когда на них наводят мышь */
}

a:active {                                            /* псевдоклас на тег а при на его нажатии и удерживание меняется цвет текста */
  color: red;
}

a:visited {                                           /* если ссылку посетили она будет подсвечиваться */
  color: #f1f1f1;
}

a svg:active {                                           /* если ссылку посетили она будет подсвечиваться */
  fill: red;
}

.container {                                          /* настраиваем все блоки в боди, максимальная ширина страницы адаптивная, маржин делает страницу по середине*/
  max-width: 750px;
  margin: auto;
  padding-top: 30px;
}

.info {                                               /* Для информации обо мне и картинки выставляем значения и с помощью флекса выравниваем блоки с лева на право */
  margin-bottom: 20px;
  display: flex;
}

.avatar {                                             /* меняем параметры самой картинки ширина, закругление, тень */
  width: 300px;
  height: 300px;
  border-radius: 28px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  margin-top: 44.5px;
}

@media (max-width: 750px) {                            /* Делаем адаптив страницы при её уменьшение для тех же телефонов максимум 750px, текст по центру, дисплей на сток чтобы при уменьшение страницы элементы становились друг за другом*/
  .info {
    text-align: center;
    display: block;
  }
}

.info-text {                                           /* меняем отсутпы текста */
  margin-left: 30px;
}

.info-text h4 {                                        /* меняем отсутп заголовка */
  margin-bottom: 5px;
}

.info p {                                              /* меняем параметры для абзатцев цвет текста, отступ, курсивный шрифт, жирный  */
  color: #000000;
  margin: 0;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  /* text-transform: uppercase; Все буквы заглавные */
  /* letter-spacing: 5px; отпусп текста */
  /* word-spacing: 42px; отступ текста */
}

.head_social {
  float: left;
}

.head_contact {
  float: right;
  text-align: center; 
  padding-right: 35px;
  display: block;
}

.head_phone {
  display: block;
  background-image: url(icons8-phone-20.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20px;
  padding-left: 15px;
  margin-bottom: 5px;
}

.head_email {
  display: block;
  background-image: url(icons8-mail-20.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 20px;
  padding-left: 25px;
}


/* Box Model */

/* .social {
  background: red;
  /* padding: 15px */
  /* padding: 15px 40px */
  /* padding: 15px 20px 25px 30px */
  /* padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 30px;
  margin: 5px;

  border: 5px solid red;
  border-bottom-style: dotted;
  border-top-width: 15px;
  border-right-color: blue; */
/* } */

/* .box-model > div {
  float: left;                 слева на права боксы размещаются
  background: black;           черный цвет для дивов
  height: 200px;               высота
  border: 4px solid red;       рамка 
  width: 25%;       ширина каждого блока 25% что в итоге для 4 делает 100%
  box-sizing: border-box;     без этого элемента блоки будут преходить на новую строчку, так как есть бордер который накладывается на 100% ширины, а эта строчка это фиксит 
} */

/* .bg-green {
  background: #e5ffe7;
}

.bg-red {
  background: #ffe5e5;
}

.bg-blue {
  background: #0000007c;
}

.bg-white {
  background: #d0f6f8;
} */

.bg-black {                          /* задаем фон для блоков кард */
  background: #0000007c;
}

.card {                              /* отступы между блоками и закругление блоков кард */
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.bg-gray {                          /* задаем фон для блоков кард */
  background: #f1f1f1;
}

.card_2 {                              /* отступы между блоками и закругление блоков кард */
  padding: 0px 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
}

.card h2 {                            /* отступы заголовков в блоках кард */
  margin-bottom: 15px;
}

.table {                              /* ширина таблицы 100% */
  width: 100%;
}

.title th {                           /* текст заголовков внутри таблицы жирный */
  font-weight: bold;
}

.table th {                           /* текст заголовка в таблице жирный, отступ, выравнивание текста слева */
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center;
}
 
.table td {                          /* текст в таблице отступ, выравнивание текста слева */
  padding: 10px 10px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);;
}

.table td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5) {   /* через псевдоселектор передал 2, 3, 4, 5 столбцу цвет */
  color: #f1f1f1;
}

.list-ul {                            /* для списка ул отступы */
  padding: 0 10;
}

.list-ul li {                         /* для списка ул ли цвет текста, отступ снизу, меняю значок маркера списка на тире*/
  color: black;
  margin-bottom: 10px;
  margin-left: -30px;
  list-style-type: '- ';
}

.list {                               /* для списка отступы */
  padding: 0 10;
}

.list li {                            /* для списка ли цвет, отступы снизу */
  color: #c9c9c9;
  margin-bottom: 10px;
}

.link-list {
  list-style: none;                   /* убрали точки из списка, отступ 0 */
  padding: 0;
}

.link-list li {                       /* отсутпы для ли в списке мой магазин, значение черты внизу у тегов а */
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #c9c9c9;
}

.contact h2 {
  text-align: center;                  /* заголовок сделали по центру */
}

.form-group label {                    /* сделали надписи над инпутом, так как до этого они были в одну строку по умолчанию поэтому поменяли дисплей на блок */
 display: block;
 font-size: 14px;
 color: #000000;
}

.form-group input, .form-group textarea {       /* Меняем параметры самих инупутов и техариа через запитую ширина 100%, убрали границу инптов  */
  width: 100%;
  box-sizing: border-box;
  border: none;
  /* background: transparent; делает инпут прозрачным в цвет фона*/
  background: transparent;
  border-bottom: 1px solid #c9c9c9;
  color: black;
  padding: 15px 0 10px;
  outline: none; /* при нажатие в форму есть синия граница это св-во его убирает */
  font-family: inherit; /* подключили шрифт нашего сайта в сам инпут внутри, так как у инпутов свой шрифт, его надо менять инехрит означает что он должен иследоваться*/
}

.row {  /* групируем инпуты  и с помощью дислпей флекс делаем элементы на одной строчке*/
  display: flex;
  margin-bottom: 20px;
}

.row > .form-group {  /* Делаем ширину форм групп инпутов 50% и отступы друг от друга  */
  width: 50%; /* задали выравнивание по ширине */
  margin-right: 20px; /* отступ одного инпута от другого */
}

.row > .form-group:last-child { /* для последнего интупа сделали отступ ноль от границы */
  margin-right: 0;
}

.btn {                      /* меняем стиль кнопки */
  background: black;
  padding: 15px 20px;
  color: #c9c9c9;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: 3s;
  margin-top: 10px;
}

.btn:hover {
  opacity: 0.6; /* меняется состояние кнопки наглядно при наведение */
}


/* .table tr:nth-child(odd или even) {   делаем нечетные строчки с заливкой красного 
  background: red;
} */

/* * {
  padding 0px
  margin 0px            можно через звёздочку сбросить все отступы для */
  